/* CommandDetails.css */
.command-details {
    padding: 24px;
    background: #f0f2f5;
}

.command-card {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
